.extra p{
    /* display: flex; */
    text-align: center;
    
}

.signin-button button{
    /* display: flex; */
    color: white;
    background-color: brown;
    border: 2px solid gray;
    margin-right: 10px;
    border-radius: 5px;
}